:root {
  --background: #D79EFA;
  --text: #312853;
  --positive: #04493E;
  --negative: #7D1041;
  --font: 'Rubik';
}

body {
  margin: 0;
  font-family: var(--font), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
